@font-face {
  font-family: "Cuprum";
  src: url("../font/Cuprum-Regular.ttf") format("truetype"),
    url("../font/Cuprum-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("../font/Cuprum-Bold.ttf") format("truetype"),
    url("../font/Cuprum-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("../font/Cuprum-Italic.ttf") format("truetype"),
    url("../font/Cuprum-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../font/PTSans-Regular.ttf") format("truetype"),
    url("../font/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../font/PTSans-Bold.ttf") format("truetype"),
    url("../font/PTSans-Bold.woff") format("woff");

  font-weight: bold;
  font-display: swap;
}
