.catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-gap: 20px;
}

.catalog__title {
  grid-column: 1 / -1;
  display: block;
  padding: 0;
  padding: 30px;
  margin: 0;
  width: 100%;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.catalog__filter {
  grid-column: 1 / 2;
}

.catalog__list {
  grid-column: 2 / -1;
}

/* Sort */

.catalog__sort {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f7f3ec;
  margin-bottom: 28px;
  padding: 10px 19px;
}

.sort__text {
  padding: 0;
  margin: 0;
  margin-right: 146px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.sort__item {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__link {
  color: inherit;
  text-decoration: none;
}

.sort__link--active {
  color: $basic-red;
}

.sort__link--dashed {
  border-bottom: 1px dashed $basic-red;

  &:hover {
    border-bottom: 1px solid $basic-red;
  }
}

.sort__link path {
  &:hover {
    fill: $basic-black;
  }

  &:active {
    fill: $basic-red;
  }
}

.sort__item:nth-child(1) {
  margin-right: 80px;
}

.sort__item:nth-child(2) {
  margin-right: 76px;
}

.sort__item:nth-child(3) {
  margin-right: 50px;
}

.sort__item:nth-child(4) {
  margin-right: 21px;
}

/* card-product */

.card-product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.card-product__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 318px;
  padding-top: 22px;
  padding-left: 18px;
  padding-right: 17px;
  padding-bottom: 21px;

  border: 1px solid #eaeaea;

  .button--bookmarks {
    display: none;
    cursor: pointer;
  }

  .button--buy {
    margin-bottom: 10px;
    display: none;
    cursor: pointer;
  }

  &:hover {
    box-shadow: (0px 4px 20px rgba(0, 0, 0, 0.15));

    .button--buy,
    .button--bookmarks {
      display: block;
    }

    .card-product__photo {
      display: none;
    }
  }
}

.card-product__photo {
  display: flex;
  justify-content: center;
  min-height: 128px;
}

.card-product__wrapper {
  min-height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-product__title {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $basic-black;
}

.card-product__old-price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-line: line-through;
  color: #a9a9a9;
}

.card-product__button {
  margin-top: auto;
}

/* pagination */

.pagination__list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 48px;

  list-style: none;
}

.pagination__item {
  margin-right: 10px;
  padding: 10px 15px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: $basic-black;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  &:hover {
    border: 1px solid #c5c5c5;
  }

  &:active {
    border: 1px solid $basic-red;
  }
}

.pagination__link {
  color: inherit;
  text-decoration: none;
}

.pagination--current {
  color: $basic-white;
  background-color: $basic-red;
  border: 1px solid $basic-red;
}

/* filter */

.filter__header {
  margin-bottom: 14px;
  padding: 10px 18px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.range-filter {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 9px;
  border-radius: 5px;
  background: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 140px;
}

.max-price {
  text-align: right;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  width: 60px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 4px;
  background: #f7f3ec;
}

.price-controls input {
  width: 95px;
}

.filter fieldset {
  padding: 0;
  padding-top: 16px;
  padding-bottom: 26px;
  margin: 0;
  margin-bottom: 18px;

  border: none;
}

.filter fieldset:nth-child(2) {
  border-bottom: 1px solid #eaeaea;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 0;
}

.filter legend {
  margin-bottom: 15px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 15px;
  line-height: 19px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #c5c5c5;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;

  width: 23px;
  height: 23px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::before {
  border: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -35px;

  width: 23px;
  height: 27px;

  border: none;
  background-image: url("../img/catalog/catalog__checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 25px;
  height: 25px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -27px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter__button {
  padding: 10px 78px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: transparent;
  color: $basic-black;
  border: 1px solid #eaeaea;

  &:hover {
    border: 1px solid #c5c5c5;
  }

  &:active {
    border: 1px solid $basic-red;
  }
}
