.pop-products__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pop-products__item {
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;

  .button--bookmarks {
    display: none;
  }

  .button--buy {
    margin-bottom: 10px;
    display: none;
  }

  &:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));

    .button--buy,
    .button--bookmarks {
      display: block;
    }

    .pop-products__photo {
      display: none;
    }
  }
}

.pop-products__wrapper {
  min-height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
}
